/* general */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-family: "Montserrat Alternates", sans-serif;
}

body {
    min-height: 450px;
    height: 100vh;
    width: 100%;
    background: #333;
    color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fas {
    font-size: 30px;
    cursor: pointer;
    color: #ddd;
}

/* section */

.section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    flex: 1;
    max-height: 50vh;
}

.type-of-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.separator-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    background: #ddd;
    min-height: 2px;
    width: 15rem;
}

.fa-exchange-alt {
    background: #333;
    padding: 0 1rem;
}

.initial-text-symbols {
    margin-left: auto;
}

.fa-paste {
    font-size: 1.1rem;
    color: #888;
    border-right: 2px solid #fff;
    padding-right: 1.5rem;
}

span {
    font-weight: 700;
    color: #888;
    cursor: pointer;
    margin-left: 1rem;
}

span:hover,
.fa-paste:hover {
    color: #fff;
}

textarea {
    resize: none;
    width: 100%;
}

#initial-text {
    padding: 0.3rem 0.5rem;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
    flex-grow: 1;
    min-height: 60px;
}

textarea:focus {
    outline: none;
}

#answer-text {
    background: none;
    color: #ddd;
    border: none;
    margin: 3rem 0;
    padding: 0 1rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    font-weight: 500;
    text-align: center;
    flex: 1;
}

.fa-copy {
    margin: -1rem 0 1.2rem 0;
}
